.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-top{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer-top-logo-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
